@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap');

html {
  background: #3e6d1a;
  color: rgb(0, 0, 0);
  font-family: 'Signika Negative', sans-serif;  
}

.component {
  background-color: #b0eeb2;
}

.navbar {
  display: flex;
  flex-direction: horizontal;
  list-style: none; 
  font-size: 20px;
  gap: 6px;    
}

.navbar > a {
  text-decoration: none;
  color:rgb(0, 0, 0);
}

.navbar > :hover {
  font-weight: bold;
}

.scoretable {
  display: flex;
  font-size: 20px;
}

.scoretable td {
  text-align: center;
}

.scoretable table tr td {
  border: 1px solid black;
}

.account.table {
  min-width: 50%;
  border-collapse: collapse;
  font-size: 1.2em;
}

.account.table tr {
  border-bottom: 1px solid black;
  padding: 40px;
}

.account.table tr:last-child {
  border-bottom: 0px solid black;
}

.user-round td {
  padding: 20px 50px;
}

.coursetable td{
  text-align: center;
}
